
@use '../base';

#locale-selection {
  img {
    width: 25px;
    height: auto;
  }

  button {
    padding: 0;
    background-color: base.$lighter-darkkhaki;
    border: none;
  }
}

#locale-selection button:not(.active-locale) {
  filter: contrast(.3);
}
