<th:block th:fragment="header">
    <header id="debug-header">
        <label><span th:text="#{chromecast} + ' ' + #{url} + ':'"></span>
            <input id="chromecast-info-url" name="chromecast-info-url" type="url" value="http://192.168.31.242:8008/setup/eureka_info">
        </label>
        <button id="fetch-chromecast-info-btn" th:text="${T(com.eriksandsten.hauppaugechromecast.utils.THHelper).i18n('fetch', 'chromecast', 'information')}"></button>
        <div>
            <span th:text="${T(com.eriksandsten.hauppaugechromecast.utils.THHelper).i18n('chromecast', 'video', 'streaming')}"></span>
            <label><span th:text="${T(com.eriksandsten.hauppaugechromecast.utils.THHelper).i18n('video', 'url') + ':'}"></span>
            <select id="test-video-url">
                <option value="https://examplefiles.org/files/video/mp4-example-video-download-full-hd-1920x1080.mp4">https://examplefiles.org/files/video/mp4-example-video-download-full-hd-1920x1080.mp4</option>
                <option value="https://examplefiles.org/files/video/mp4-example-video-download-640x480.mp4">https://examplefiles.org/files/video/mp4-example-video-download-640x480.mp4</option>
                <option value="http://192.168.31.248:8080/video/output.mp4" selected>http://192.168.31.248:8080/video/output.mp4</option>
            </select></label>
            <label for="test-video-mime-type" th:text="#{mime_type}"></label><input id="test-video-mime-type" type="text" value="video/mp4"></label>
            <button id="load-test-video-btn" th:text="${T(com.eriksandsten.hauppaugechromecast.utils.THHelper).i18n('stream', 'test', 'video', 'to', 'chromecast')}"></button>
            <button id="load-allente-epg-btn" th:text="${T(com.eriksandsten.hauppaugechromecast.utils.THHelper).i18n('load', 'allente', 'epg')}"></button>
            <input type="text" th:value="${#temporals.format(T(java.time.LocalDate).now(), 'yyyy-MM-dd')}">
            <input type="text" placeholder="00:00">
            <button id="test-active-programme-btn" th:text="#{compute_current_channel_programmes}"></button>
        </div>
    </header>
    <script>
        document.getElementById("fetch-chromecast-info-btn").addEventListener("click", function() {
            const chromecastInfoUrl = document.getElementById("chromecast-info-url").value;
            getJSON(`/chromecast-info?chromecast-info-url=${encodeURIComponent(chromecastInfoUrl)}`).then(response => console.log(response));
        });
    </script>
</th:block>
