
@use 'mixins';
@use 'constants';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; // Important for clientHeight etc.
}

body {
    background-color: constants.$color1;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(255,255,255,.7);
    background-color: constants.$lighter-darkkhaki;
}

a {
  text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

pre {
    font-size: 13px;
    background-color: gray;
    margin: 0;
}

button, input[type="submit"] {
  @include mixins.base-button-style(constants.$slate-gray);
  border: none;

  &:hover, .state-pressed {
    background-color: constants.$lighter-slate-gray;
  }
}

input[type="url"], input[type="text"] {
    padding: 7px 12px;
    border-radius: 7px;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.is-being-dragged {
}

.flex-parent {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-auto-rows: 50px;
}

button.two-states {
  &.state-pressed > span:first-child {
    display: none;
  }

  &:not(.state-pressed) > span:last-child {
    display: none;
  }
}

ul.tab-headings li {
  @include mixins.base-button-style(constants.$slate-gray, null);

  a {
    color: rgba(255,255,255,.7);
  }
}
