
@use 'sass:color';

$color1: #9a9878;
$color2: darkkhaki;
$color3: darkslategray;
$lighter-darkkhaki: color.scale(#84804b, $lightness: 50%);
$tab-headings-border-radius: 7px;

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color1;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(255,255,255,.7);
    background-color: $lighter-darkkhaki;
}

a {
  text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button, input[type="submit"] {
    padding: 10px 18px;
    border-radius: 7px;
    background-color: $lighter-darkkhaki;
    border: none;
    color: rgba(255,255,255,.7);
}

input[type="url"], input[type="text"] {
    padding: 7px 12px;
    border-radius: 7px;
}

@mixin fill-parent-element {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin expand-box-size($additional-size) {
  margin-left: -$additional-size;
  margin-right: -$additional-size;
  width: calc(100% + 2 * $additional-size);
}

.flex-parent {
  display: flex;
  align-items: flex-start;  /* optional */
  gap: 1rem;                /* optional */
}
@mixin flex-remaining-width($needed-width-selector, $remaining-space-selector) {
  & > #{$needed-width-selector} {
    flex: 0 0 auto; /* take only needed width */
  }

  & > #{$remaining-space-selector} {
    flex: 1; /* fill remaining space */
  }
}

.grid {
  display: grid;
}

.tabs {
  & > .tab-headings {
    background: gray;
    border-bottom-left-radius: $tab-headings-border-radius;
    border-bottom-right-radius: $tab-headings-border-radius;
    overflow: hidden;

    & > li {
      display: inline-block;

      &.active-tab {
        background-color: rgba(0,0,0,.4);
      }
    }
  }

  & > .tab-content {
    position: relative;

    h4 {
      background-color: goldenrod;
      grid-column: 1 / span 4;
    }

    & > li {
      display: grid;
      position: absolute;
      overflow-y: scroll;
      left: 0;
      top: 0;

      &.active-tab {
        z-index: 1;
      }
    }
  }
}
