
#developer-mode-console {
  position: fixed;
  background-color: burlywood;
  box-shadow: inset 0 5px rgba(0,0,0,.5), 0 -7px 10px rgba(0,0,0,.6);
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  opacity: .7;
}

#developer-mode-messages {
  height: 250px;
  overflow-y: scroll;

  li {
    display: block;
    & > span {
      display: block;
      padding: 10px 20px;

      &:first-child {
        float: left;
        background-color: rgba(0,0,0,.4);
      }
    }
  }
}

body:not(.developer-mode) {
  #developer-mode-console {
    display: none;
  }
}

body.developer-mode {
  #developer-mode-console {
    display: block;
  }

  #inspected-programme-image-container {
    overflow: initial;

    img:first-child {
      opacity: .6;
    }
  }
}
