
$popup-width: 500px;
$popup-height: 400px;

#global-popup {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
  overflow: hidden;

  & > div {
    width: $popup-width;
    height: $popup-height;
    position: absolute;
    left: calc(50% - $popup-width / 2);
    top: calc(50% - $popup-height / 2);
    background-size: auto 130%;
    background-repeat: no-repeat;
    border-radius: 7px;
    border: 7px solid rgba(255, 255, 255, .9);
    background-color: darkgoldenrod;
    background-blend-mode: multiply;
    box-shadow: 0 50px 200px 10px rgba(0,0,0,.5);

    & > p {
      padding: 50px 150px;
      color: rgba(255,255,255,.9);
    }
  }
}
