html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9a9878;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgb(200.1086956522, 197.1811594203, 158.3913043478);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button, input[type=submit] {
  padding: 10px 18px;
  border-radius: 7px;
  background-color: rgb(200.1086956522, 197.1811594203, 158.3913043478);
  border: none;
  color: rgba(255, 255, 255, 0.7);
}

input[type=url], input[type=text] {
  padding: 7px 12px;
  border-radius: 7px;
}

.flex-parent {
  display: flex;
  align-items: flex-start; /* optional */
  gap: 1rem; /* optional */
}

.grid {
  display: grid;
  grid-auto-rows: 50px;
}

.tabs > .tab-headings {
  background: gray;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.tabs > .tab-headings > li {
  display: inline-block;
}
.tabs > .tab-headings > li.active-tab {
  background-color: rgba(0, 0, 0, 0.4);
}
.tabs > .tab-content-wrapper > li {
  position: absolute;
  overflow-y: scroll;
  left: 0;
  top: 0;
  background-color: gainsboro;
}
.tabs > .tab-content-wrapper > li.active-tab {
  z-index: 1;
}
.tabs .tab-content {
  position: relative;
}
.tabs .tab-content h4 {
  margin: 0;
  background-color: goldenrod;
  grid-column: 1/span 4;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-out {
  opacity: 1;
  animation: fadeOut 2s ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
ul#main-channel-list div.inspected-channel-programme-info {
  position: absolute;
  left: 0;
  top: 0;
}
ul#main-channel-list div.inspected-channel-programme-info::before {
  display: block;
  width: 100%;
  height: 100%;
  background-color: slategray;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
}

#main-left-panel {
  position: relative;
}
#main-left-panel #tab-tv-channels {
  position: relative;
}
#main-left-panel #tab-tv-channels #inspected-programme-image-container {
  position: fixed;
  z-index: 1;
}
#main-left-panel #tab-tv-channels #inspected-programme-image-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#main-left-panel #tab-tv-channels > .grid {
  grid-auto-rows: initial !important;
}
#main-left-panel ul#main-channel-list {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
#main-left-panel ul#main-channel-list > li {
  display: block;
  position: relative;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.4), inset 0 1px rgba(0, 0, 0, 0.4), inset 0 -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#main-left-panel ul#main-channel-list > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#main-left-panel ul#main-channel-list > li:hover .zap-to-channel-btn {
  margin-left: 10px !important;
}
#main-left-panel ul#main-channel-list > li > .flex-parent {
  max-height: 0;
  transition: max-height 1s ease;
  overflow: auto;
  position: relative;
  z-index: 1;
  justify-content: right;
}
#main-left-panel ul#main-channel-list > li > .flex-parent > div:empty {
  flex: auto;
}
#main-left-panel ul#main-channel-list > li.programme-list-open > .flex-parent {
  overflow-y: scroll;
}
#main-left-panel ul#main-channel-list > li > h3 {
  margin: 0;
  padding: 10px 20px;
  background-image: linear-gradient(to bottom, slategrey, lightslategrey);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
  height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 1;
}
#main-left-panel ul#main-channel-list > li > h3 .channel-icon {
  width: auto;
  height: 40px;
  float: left;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list > h4 {
  padding: 12px 24px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  margin-right: -20px;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list > h4:first-child {
  margin-top: 0;
}
#main-left-panel ul#main-channel-list {
  /*
  .flex-parent {
    @include base.flex-remaining-width('p', '.channel-programmes-list-container');
  }
  */
}
#main-left-panel ul#main-channel-list div.channel-programmes-list-container {
  float: right;
  white-space: nowrap;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 20px;
}
#main-left-panel ul#main-channel-list p.currently-inspected-programme-description {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  padding: 20px;
  border-radius: 7px;
  transition: margin-top 0.7s ease;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list {
  font-size: 14px;
  text-align: right;
  display: block;
  transition: height 0.4s ease;
  position: relative;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list li.channel-programme-details a {
  display: block;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.7);
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list li.channel-programme-details.channel-current-programme > a {
  font-weight: bold;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list li.channel-programme-details.currently-inspected-programme > a {
  color: white;
  font-weight: bold;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list .channel-programme-start-time {
  display: inline-block;
  margin-left: 15px;
}
#main-left-panel ul#main-channel-list > li > a {
  height: 50px;
  color: rgb(200.1086956522, 197.1811594203, 158.3913043478);
  display: block;
  position: relative;
  z-index: 1;
}
#main-left-panel ul#main-channel-list > li > a > div.zap-to-channel-btn-and-icon {
  position: relative;
  float: left;
}
#main-left-panel ul#main-channel-list > li > a > div.zap-to-channel-btn-and-icon .zap-to-channel-btn {
  z-index: 1;
  background-color: darkslategray;
  width: 50px;
  height: 38px;
  padding: 10px 10px;
  position: relative;
  top: -10px;
  box-sizing: border-box;
  margin-left: -60px;
  margin-right: 10px;
  transition: margin-left 0.4s ease;
}
#main-left-panel ul#main-channel-list > li > a > div.zap-to-channel-btn-and-icon .zap-to-channel-btn:hover {
  background-color: rgb(85.0476190476, 142.9523809524, 142.9523809524);
}
#main-left-panel ul#main-channel-list > li > a > div.zap-to-channel-btn-and-icon .zap-to-channel-btn > span {
  font-size: 30px;
  line-height: 18px;
}
#main-left-panel ul#main-channel-list > li > a > div.zap-to-channel-btn-and-icon img.channel-icon {
  width: auto;
  height: 50px;
  z-index: 1;
}

#player-bottom-panel {
  height: 50px;
  display: flex;
}
#player-bottom-panel google-cast-launcher {
  display: initial !important;
  --disconnected-color: white; /* Color when not connected */
  --connected-color: limegreen; /* Color when connected */
  --connecting-color: gold; /* Color during connection */
  --cast-button-width: 48px;
  --cast-button-height: 48px;
}
#player-bottom-panel div#player-controls {
  display: flex;
}
#player-bottom-panel div#player-controls > * {
  flex: 1;
}
#player-bottom-panel div#player-controls > #player-sound-controls {
  flex: 2;
}

#player-bottom-panel > * {
  display: block;
}

#player-bottom-panel > *:nth-child(1) {
  flex: 1;
}

#player-bottom-panel > *:nth-child(3) {
  flex: 2;
}

#tab-developer .grid {
  grid-template-columns: auto auto auto auto;
}

.fixed {
  position: fixed;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allows columns to wrap on smaller screens */
  justify-content: space-between;
  padding: 20px;
}

#main-left-panel, #main-right-panel {
  background-color: #f4f4f4;
  border: 5px solid darkslategray;
  margin: 10px; /* Adds spacing between columns */
  border-radius: 8px;
}

#main-left-panel {
  background-color: darkkhaki;
  width: 50vw;
  height: 85vh;
  resize: horizontal;
}
#main-left-panel .tab-headings {
  height: 50px;
  line-height: 50px;
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
}
#main-left-panel .tab-headings > li {
  margin: 0;
  display: inline-block;
}
#main-left-panel .tab-headings > li a {
  display: block;
  padding: 0 30px;
}
#main-left-panel > .tabs > .tab-content-wrapper > li {
  width: 100%;
  height: calc(85vh - 50px);
}

#main-right-panel {
  background-color: darkkhaki;
  flex: 5;
}

p {
  color: #666;
}

div[data-description] {
  position: relative;
  border-radius: 5px;
  border: 3px solid gray;
  padding: 7px 12px;
}

div[data-description]::before {
  content: attr(data-description);
  background-color: gainsboro;
  position: absolute;
  left: 20px;
  top: -10px;
}

.main-right-panel > * {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

video#main-player {
  background-color: gainsboro;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
