
@use 'sass:color';
@use 'base';
@use 'animation';
@use 'fragments';
@use 'developer-mode';
@use 'pages/tab_tv_channels/player-bottom-panel';

$main-left-panel-width: 50vw;
$main-container-height: 85vh;
$main-menu-height: 50px;

.fixed {
  position: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allows columns to wrap on smaller screens */
    justify-content: space-between;
    padding: 20px;
}

.app-panel {
    background-color: #f4f4f4;
    border: 5px solid base.$color3;
    margin: 10px; /* Adds spacing between columns */
    border-radius: 8px;
}

#main-left-panel {
    background-color: base.$color2;
    // flex: 3;
    width: $main-left-panel-width;
    height: $main-container-height;
    @include base.resizable('x');

    .tab-headings {
      height: $main-menu-height;
      line-height: $main-menu-height;
      position: absolute;
      z-index: 3;
      left: 0;
      bottom: 0;

      > li {
        margin: 0;
        display: inline-block;

        a {
          display: block;
          padding: 0 30px;
        }
      }
    }

    & > .tabs > .tab-content-wrapper > li {
      width: 100%;
      height: calc(#{$main-container-height} - #{$main-menu-height});
    }
}

#main-right-panel {
    background-color: base.$color2;
    flex: 5;
}

p {
    color: #666;
}

div[data-description] {
  position: relative;
  border-radius: 5px;
  border: 3px solid gray;
  padding: 7px 12px;
}
div[data-description]::before {
  content: attr(data-description);
  background-color: gainsboro;
  position: absolute;
  left: 20px;
  top: -10px;
}

.main-right-panel > * {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

video#main-player {
    background-color: gainsboro;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
