html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #9a9878;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgb(200.1086956522, 197.1811594203, 158.3913043478);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

pre {
  font-size: 13px;
  background-color: gray;
  margin: 0;
}

button, input[type=submit] {
  padding: 10px 18px;
  background-color: darkslategray;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  border: none;
}
button:hover, button .state-pressed, input[type=submit]:hover, input[type=submit] .state-pressed {
  background-color: rgb(69.8285714286, 117.3714285714, 117.3714285714);
}

input[type=url], input[type=text] {
  padding: 7px 12px;
  border-radius: 7px;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.flex-parent {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-auto-rows: 50px;
}

button.two-states.state-pressed > span:first-child {
  display: none;
}
button.two-states:not(.state-pressed) > span:last-child {
  display: none;
}

ul.tab-headings li {
  padding: 10px 18px;
  background-color: darkslategray;
  color: rgba(255, 255, 255, 0.7);
}
ul.tab-headings li a {
  color: rgba(255, 255, 255, 0.7);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-out {
  opacity: 1;
  animation: fadeOut 2s ease-out forwards;
}

.item-enter-anim {
  animation: itemEnterAnim attr(data-anim-duration s) ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes itemEnterAnim {
  from {
    margin-top: -50px;
  }
  to {
    margin-top: 0;
  }
}
ul#main-channel-list div.inspected-channel-programme-info {
  position: absolute;
  left: 0;
  top: 0;
}
ul#main-channel-list div.inspected-channel-programme-info::before {
  display: block;
  width: 100%;
  height: 100%;
  background-color: slategray;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
}

#main-left-panel {
  position: relative;
}
#main-left-panel #main-left-panel-resize-bar {
  background-color: red;
  width: 10px;
  height: 100%;
  cursor: w-resize;
  position: absolute;
  top: 0;
  right: 0;
}
#main-left-panel #tab-tv-channels {
  position: relative;
}
#main-left-panel #tab-tv-channels .tab-content {
  height: 85vh;
}
#main-left-panel #tab-tv-channels #inspected-programme-image-container {
  position: fixed;
  overflow: hidden;
  z-index: 1;
}
#main-left-panel #tab-tv-channels #inspected-programme-image-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#main-left-panel #tab-tv-channels > .grid {
  grid-auto-rows: initial !important;
}
#main-left-panel ul#main-channel-list {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  transition: margin-top 0.5s ease;
}
#main-left-panel ul#main-channel-list > li {
  display: block;
  position: relative;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.4), inset 0 1px rgba(0, 0, 0, 0.4), inset 0 -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#main-left-panel ul#main-channel-list > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#main-left-panel ul#main-channel-list > li:hover .zap-to-channel-btn {
  margin-left: 10px !important;
}
#main-left-panel ul#main-channel-list > li > .flex-parent {
  max-height: 0;
  transition: max-height 1s ease 0.5s;
  overflow: auto;
  position: relative;
  z-index: 1;
  justify-content: right;
}
#main-left-panel ul#main-channel-list > li > .flex-parent > div:empty {
  flex: auto;
}
#main-left-panel ul#main-channel-list > li.programme-list-open > .flex-parent {
  overflow-y: scroll;
}
#main-left-panel ul#main-channel-list > li > h3 {
  margin: 0;
  padding: 10px 20px;
  background-image: linear-gradient(to bottom, slategrey, lightslategrey);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
  height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 1;
}
#main-left-panel ul#main-channel-list > li > h3 .channel-icon {
  width: auto;
  height: 40px;
  float: left;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list > h4 {
  padding: 12px 24px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 17px;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list > h4:first-child {
  margin-top: 0;
}
#main-left-panel ul#main-channel-list {
  /*
  .flex-parent {
    @include base.flex-remaining-width('p', '.channel-programmes-list-container');
  }
  */
}
#main-left-panel ul#main-channel-list div.channel-programmes-list-container {
  float: right;
  white-space: nowrap;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  max-width: 40%;
}
#main-left-panel ul#main-channel-list div.channel-programmes-list-container > ul > li > a {
  padding: 3px 20px;
}
#main-left-panel ul#main-channel-list p.currently-inspected-programme-description {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  padding: 20px;
  border-radius: 7px;
  transition: margin-top 0.7s ease;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list {
  font-size: 14px;
  text-align: right;
  display: block;
  transition: height 0.4s ease;
  position: relative;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list li.channel-programme-details a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list li.channel-programme-details.channel-current-programme > a {
  background-color: rgba(255, 255, 255, 0.4);
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list li.channel-programme-details.currently-inspected-programme > a {
  color: white;
  font-weight: bold;
  transition: color 0.4s ease;
}
#main-left-panel ul#main-channel-list ul.channel-programmes-day-list .channel-programme-start-time {
  display: inline-block;
  margin-left: 15px;
}
#main-left-panel ul#main-channel-list > li > a {
  height: 50px;
  color: rgb(200.1086956522, 197.1811594203, 158.3913043478);
  display: block;
  position: relative;
  z-index: 1;
}
#main-left-panel ul#main-channel-list > li > a > div.zap-to-channel-btn-and-icon {
  position: relative;
  float: left;
}
#main-left-panel ul#main-channel-list > li > a > div.zap-to-channel-btn-and-icon .zap-to-channel-btn {
  z-index: 1;
  background-color: darkslategray;
  width: 50px;
  height: 38px;
  padding: 10px 10px;
  position: relative;
  top: -10px;
  box-sizing: border-box;
  margin-left: -60px;
  margin-right: 10px;
  transition: margin-left 0.4s ease;
}
#main-left-panel ul#main-channel-list > li > a > div.zap-to-channel-btn-and-icon .zap-to-channel-btn:hover {
  background-color: rgb(85.0476190476, 142.9523809524, 142.9523809524);
}
#main-left-panel ul#main-channel-list > li > a > div.zap-to-channel-btn-and-icon .zap-to-channel-btn > span {
  font-size: 30px;
  line-height: 18px;
}
#main-left-panel ul#main-channel-list > li > a > div.zap-to-channel-btn-and-icon img.channel-icon {
  width: auto;
  height: 50px;
  z-index: 1;
}

#player-bottom-panel {
  height: 50px;
  display: flex;
}
#player-bottom-panel google-cast-launcher {
  display: initial !important;
  --disconnected-color: white; /* Color when not connected */
  --connected-color: limegreen; /* Color when connected */
  --connecting-color: gold; /* Color during connection */
  --cast-button-width: 48px;
  --cast-button-height: 48px;
}
#player-bottom-panel div#player-controls {
  display: flex;
}
#player-bottom-panel div#player-controls > * {
  flex: 1;
}
#player-bottom-panel div#player-controls > #player-sound-controls {
  flex: 2;
}

#player-bottom-panel > * {
  display: block;
}

#player-bottom-panel > *:nth-child(1) {
  flex: 1;
}

#player-bottom-panel > *:nth-child(3) {
  flex: 2;
}

#tab-developer .grid {
  grid-template-columns: auto auto auto auto;
}
#tab-developer .dvb-device-name:empty + .device-icon {
  display: none;
}

@keyframes borderPulse {
  from {
    border-color: red;
  }
  to {
    border-color: blue;
  }
}
.inspected-bounding-box {
  position: fixed;
  z-index: 998;
  background-color: maroon;
  border: 3px solid red;
  animation: borderPulse 3s infinite alternate;
  opacity: 0.5;
  box-sizing: border-box;
}

#developer-mode-console {
  font-size: 12px;
  position: fixed;
  background-color: darkgoldenrod;
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.5), 0 -7px 10px rgba(0, 0, 0, 0.6);
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  transition: bottom 0.5s ease;
  resize: vertical;
  overflow-y: auto;
}
#developer-mode-console #developer-console-groups-and-messages-count {
  padding: 10px 18px;
  background-color: darkslategray;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  font-size: 16px;
}
#developer-mode-console #developer-console-groups-and-messages-count > span {
  padding: 10px 18px;
  background-color: darkslategray;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
#developer-mode-console #developer-console-groups-and-messages-count > span:first-child {
  counter-reset: x var(--dc-groups-count);
}
#developer-mode-console #developer-console-groups-and-messages-count > span:first-child::after {
  content: counter(x);
}
#developer-mode-console #developer-console-groups-and-messages-count > span:last-child {
  counter-reset: y var(--dc-messages-count);
}
#developer-mode-console #developer-console-groups-and-messages-count > span:last-child::after {
  content: counter(y);
}
#developer-mode-console #developer-console-resize-bar {
  padding: 20px;
  cursor: n-resize;
  display: flex;
  flex-direction: row-reverse;
}
#developer-mode-console #developer-console-resize-bar #developer-console-mouse-coords-panel {
  display: flex;
  padding: 10px 18px;
  background-color: darkslategray;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
#developer-mode-console #developer-console-resize-bar #developer-console-mouse-coords-panel > button#toggle-developer-console-mouse-coords {
  flex: 2;
}
#developer-mode-console #developer-console-resize-bar #developer-console-mouse-coords-panel > div#developer-console-mouse-coords {
  flex: 3;
  width: 100px;
  transition: width 0.4s ease;
  overflow: hidden;
  white-space: nowrap;
}
#developer-mode-console #developer-console-resize-bar #developer-console-mouse-coords-panel > div#developer-console-mouse-coords > span {
  display: block;
}
#developer-mode-console .developer-mode-called-function {
  position: relative;
  flex: 1;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
#developer-mode-console .developer-mode-called-function .tooltip-text {
  padding: 34px 0 0 0 !important;
}
#developer-mode-console .developer-mode-called-function ul.element-data-attributes {
  display: inline-flex;
  gap: 10px;
  position: relative;
  margin-left: 10px;
}
#developer-mode-console .developer-mode-called-function ul.element-data-attributes:not(:empty) {
  padding-bottom: 20px;
}
#developer-mode-console .developer-mode-called-function ul.element-data-attributes > li {
  background-color: salmon;
  padding: 5px 10px;
  position: relative;
}
#developer-mode-console .developer-mode-called-function ul.element-data-attributes > li::before {
  content: "data";
  display: block;
  position: absolute;
  padding: 4px 7px;
  right: 0;
  top: 100%;
  background-color: firebrick;
}
#developer-mode-console .developer-mode-called-function pre {
  padding: 15px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
#developer-mode-console .developer-mode-called-function-name {
  background-color: darkgoldenrod;
  border-radius: 7px;
  padding: 7px 12px;
  display: inline-block;
  transition: background-color 0.1s ease;
}
#developer-mode-console .developer-mode-called-function-name:hover, #developer-mode-console .developer-mode-called-function-name.state-pressed {
  background-color: rgb(240.6830769231, 175.6061538462, 15.5169230769);
}
#developer-mode-console .developer-mode-called-function-params {
  display: flex;
  background-color: gold;
  padding: 12px;
}
#developer-mode-console .developer-mode-called-function-params > li::before {
  content: attr(data-parameter-name);
}

ul#developer-mode-console-actions {
  display: flex;
  gap: 10px;
}
ul#developer-mode-console-actions .material-symbols-sharp {
  font-size: 32px;
}
ul#developer-mode-console-actions button {
  padding: 5px 10px;
}

#developer-mode-messages {
  height: 500px;
  overflow-y: scroll;
  transition: max-height attr(data-anim-duration s) ease;
  counter-reset: rev attr(data-groups-count number);
}
#developer-mode-messages > ul.developer-mode-message-group > li {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, rgb(240, 240, 240), rgb(220, 220, 220));
  box-shadow: inset 0 0 2px gray;
}
#developer-mode-messages > ul.developer-mode-message-group > li.message-separator {
  height: 10px;
  background-color: palegoldenrod;
  background-image: none;
  counter-increment: rev -1;
}
#developer-mode-messages > ul.developer-mode-message-group > li.message-separator::before {
  display: block;
  width: 100%;
  padding: 7px 12px;
  background-color: limegreen;
  content: counter(rev);
}
#developer-mode-messages > ul.developer-mode-message-group > li > span {
  display: block;
  padding: 10px 20px;
}
#developer-mode-messages > ul.developer-mode-message-group > li > span.developer-mode-message-time {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.4);
}
#developer-mode-messages ul.called-function-parameter-list {
  display: inline-flex;
  gap: 10px;
}
#developer-mode-messages ul.called-function-parameter-list > li {
  color: rgba(255, 255, 255, 0.7);
  background-color: darkslategray;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 7px;
  overflow: hidden;
}
#developer-mode-messages ul.called-function-parameter-list > li[data-parameter-type]::before {
  content: attr(data-parameter-type);
  font-size: 90%;
  width: calc(100% + 20px);
  margin-top: -5px;
  margin-left: -10px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  font-weight: bold;
  text-align: center;
}

body.developer-mode #developer-mode-console {
  display: block;
}
body.developer-mode #inspected-programme-image-container {
  overflow: initial;
}
body.developer-mode #inspected-programme-image-container img:first-child {
  opacity: 0.6;
}

.tabs > .tab-headings {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.tabs > .tab-headings > li {
  display: inline-block;
  position: relative;
}
.tabs > .tab-headings > li.active-tab::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.tabs > .tab-content-wrapper > li {
  position: absolute;
  overflow-y: scroll;
  left: 0;
  top: 0;
  background-color: gainsboro;
}
.tabs > .tab-content-wrapper > li.active-tab {
  z-index: 1;
}
.tabs .tab-content {
  position: relative;
}
.tabs .tab-content h4 {
  margin: 0;
  background-color: goldenrod;
  grid-column: 1/span 4;
}

.tooltip.is-visible .tooltip-text {
  display: block !important;
}
.tooltip.has-been-dragged .tooltip-text::after {
  display: none;
}
.tooltip .tooltip-trigger.drop-target-hovered {
  outline: 4px solid rgb(69.8285714286, 117.3714285714, 117.3714285714);
}
.tooltip.has-close-button .tooltip-text {
  background-image: radial-gradient(circle at 30% 70%, gainsboro, lightgray);
  background-position: top left;
  background-size: 100% 36px;
  background-repeat: no-repeat;
  padding-top: 56px;
}
.tooltip .tooltip-actions {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  height: 36px;
  background-color: transparent;
  color: gray;
  box-sizing: border-box;
}
.tooltip .tooltip-actions button {
  background-color: transparent;
}
.tooltip.no-close-button .tooltip-close-btn {
  display: none;
}
.tooltip .tooltip-text {
  position: fixed !important;
  z-index: 999;
  display: none;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.6));
  border-radius: 7px;
  padding: 20px;
  background-color: white;
  transition: left 0.2s ease, bottom 0.2s ease;
}
.tooltip .tooltip-text::after {
  font-family: "Material Symbols Rounded", serif;
  font-size: 72px;
  content: "\e5c5";
  pointer-events: none;
  display: block;
  position: absolute;
  left: attr(data-arrow-left-pos px);
  top: calc(100% - 6px);
  width: 50px;
  height: 20px;
  line-height: 20px;
  color: white;
}

.fixed {
  position: fixed;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allows columns to wrap on smaller screens */
  justify-content: space-between;
  padding: 20px;
}

.app-panel {
  background-color: #f4f4f4;
  border: 5px solid darkslategray;
  margin: 10px; /* Adds spacing between columns */
  border-radius: 8px;
}

#main-left-panel {
  background-color: darkkhaki;
  width: 50vw;
  height: 85vh;
  resize: horizontal;
  overflow-x: auto;
}
#main-left-panel .tab-headings {
  height: 50px;
  line-height: 50px;
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
}
#main-left-panel .tab-headings > li {
  margin: 0;
  display: inline-block;
}
#main-left-panel .tab-headings > li a {
  display: block;
  padding: 0 30px;
}
#main-left-panel > .tabs > .tab-content-wrapper > li {
  width: 100%;
  height: calc(85vh - 50px);
}

#main-right-panel {
  background-color: darkkhaki;
  flex: 5;
}

p {
  color: #666;
}

div[data-description] {
  position: relative;
  border-radius: 5px;
  border: 3px solid gray;
  padding: 7px 12px;
}

div[data-description]::before {
  content: attr(data-description);
  background-color: gainsboro;
  position: absolute;
  left: 20px;
  top: -10px;
}

.main-right-panel > * {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

video#main-player {
  background-color: gainsboro;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
