<!DOCTYPE html>
<html th:lang="${#strings.replace(#locale.toString(), '_', '-')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HauppaugeChromecast</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
    <script src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<th:block th:if="${debug != null}" th:include="fragments/debug_overlay :: header"></th:block>
<div class="container">
    <div id="main-left-panel">
        <h2 th:text="#{tv_channels}"></h2>
        <ul id="left-channel-list">
        </ul>
    </div>
    <div id="main-right-panel">
        <canvas></canvas>
        <div id="player-bottom-panel">
            <div id="player-controls">
                <button><google-cast-launcher></google-cast-launcher></button>
                <button id="epg-btn"><span class="material-symbols-sharp">list_alt</span></button>
                <div id="player-sound-controls">
                    <input type="range" id="player-volume" name="volume" min="0" max="100" />
                    <button id="volume-mute-btn"><span class="material-symbols-sharp">volume_mute</span></button>
                </div>
                <button id="channel-back-btn"><span class="material-symbols-sharp">arrow_back_ios</span></button>
                <button id="pause-play-btn"><span class="material-symbols-sharp">play_circle</span></button>
                <button id="channel-forward-btn"><span class="material-symbols-sharp">arrow_forward_ios</span></button>
            </div>
            <div id="locale-selection">
                <button id="locale-en" data-locale-key="en" th:class="${@requestHelper.isCurrentLocale('en') ? 'active-locale' : ''}"><img src="https://cdn-icons-png.flaticon.com/512/197/197374.png" alt="English flag icon"></button>
                <button id="locale-sv" data-locale-key="sv-SE" th:class="${@requestHelper.isCurrentLocale('sv-SE') ? 'active-locale' : ''}"><img src="https://cdn-icons-png.flaticon.com/512/197/197564.png" alt="Swedish flag icon"></button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/home.js}"></script>
<script th:src="@{/js/tv_channels_list.js}"></script>
</body>
</html>