<!DOCTYPE html>
<html th:lang="${#strings.replace(#locale.toString(), '_', '-')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HauppaugeChromecast</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
    <script src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div id="main-left-panel">
        <div class="tabs">
            <ul class="tab-headings">
                <li class="active-tab"><a href="#tab-tv-channels" th:text="${T(com.eriksandsten.hauppaugechromecast.utils.I18NHelper).buildString('tv', '-', 'channels')}"></a></li>
                <li><a href="#tab-settings" th:text="${T(com.eriksandsten.hauppaugechromecast.utils.I18NHelper).buildString('settings')}"></a></li>
                <li><a href="#tab-developer" th:text="${T(com.eriksandsten.hauppaugechromecast.utils.I18NHelper).buildString('developer')}"></a></li>
            </ul>
            <ul class="tab-content-wrapper">
                <li id="tab-tv-channels">
                    <div class="grid tab-content">
                        <th:block th:include="pages/tab_tv_channels"></th:block>
                    </div>
                </li>
                <li id="tab-settings">
                    <div class="grid tab-content">
                        <th:block th:include="pages/tab_settings"></th:block>
                    </div>
                </li>
                <li id="tab-developer">
                    <div class="grid tab-content">
                        <th:block th:include="pages/tab_developer"></th:block>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div id="main-right-panel">
        <video id="main-player" src="http://localhost:8080/video/channel.m3u8" controls></video>
    </div>
</div>
<script th:src="@{/js/utils/utils.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    document.app_config = {
        default_locale: [[${@environment.getProperty('app.default_locale')}]],
        programme_info_fade_animation: {
          duration: [[${@environment.getProperty('app.programme_info_fade_animation_duration')}]]
        },
        channel_item_display_animation: {
            duration: [[${@environment.getProperty('app.channel_item_display_animation_duration')}]]
        },
        channel_programmes_day_list_captions: {
            today: capitalize([[#{today}]]),
            tomorrow: capitalize([[#{tomorrow}]])
        },
        channel_image_alt_text: capitalize([[#{channel_icon}]]),
        last_scrolled_threshold: [[${@environment.getProperty('app.last_scrolled_threshold')}]],
        last_scrolled_handler_timeout: [[${@environment.getProperty('app.last_scrolled_handler_timeout')}]]
    }
/*]]>*/
</script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script th:src="@{/js/google_cast.js}"></script>
<script th:src="@{/js/utils/handlebars.js}"></script>
<script th:src="@{/js/home.js}"></script>
<script th:src="@{/js/pages/tab_tv_channels.js}"></script>
<script th:src="@{/js/pages/tab_tv_channels/tv_channels_list.js}"></script>
</body>
</html>
